@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
$RobotoFonts: "Roboto",
sans-serif;
$PoppinsFonts: "Poppins",
sans-serif;
$whiteColor: #ffffff;
$BlackColor: #000000;
$fontColor: #999;
$ThemesColor: #00477f;
$smallShadow: 0 0.125rem 0.25rem rgba(0,
0,
0,
0.075);
$regularShadow: 0 0.5rem 1rem rgba(0,
0,
0,
0.15);
$largerShadow: 0 1rem 3rem rgba(0,
0,
0,
0.175);
$transitionEffects: all 0.5s ease;
@mixin borderButtons {
    background: none;
    border: 1.5px solid $ThemesColor;
    border-radius: 5px;
    color: $ThemesColor;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    position: relative;
    text-transform: uppercase;
    transition: $transitionEffects;
    text-decoration: none;
    &:hover {
        transition: $transitionEffects;
        text-decoration: none;
        background: $ThemesColor;
        color: $whiteColor;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1.5px solid $ThemesColor;
    }
}

@mixin backgroundButtons {
    background: $ThemesColor;
    border: 1.5px solid $ThemesColor;
    border-radius: 5px;
    color: $whiteColor;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    position: relative;
    text-transform: uppercase;
    transition: $transitionEffects;
    text-decoration: none;
    &:hover {
        transition: $transitionEffects;
        text-decoration: none;
        background: $whiteColor;
        color: $ThemesColor;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1.5px solid $ThemesColor;
    }
}

@mixin subHeadings {
    font-size: 30px;
    color: $BlackColor;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    position: relative;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100px;
        height: 4px;
        bottom: 0;
        background: $ThemesColor;
        border-radius: 10px;
    }
}

html,
body {
    height: 100%;
}

body {
    font-family: $RobotoFonts;
    overflow-x: hidden;
}


/*****************
Header styles.
*****************/

header {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    .navbar {
        position: absolute;
        z-index: 1;
        width: 100%;
        padding: 0;
        background: $whiteColor;
        .navbar-brand {
            color: $fontColor;
        }
        .navbar-toggler {
            background: $ThemesColor;
            svg {
                width: 30px;
                fill: $whiteColor;
            }
        }
    }
    .collapse {
        ul.navbar-nav {
            li {
                color: $whiteColor;
                margin: 0 7px;
                a {
                    color: $fontColor;
                    font-size: 16px;
                    padding: 10px 10px !important;
                    display: block;
                    position: relative;
                    transition: $transitionEffects;
                    font-weight: 500;
                    font-family: $PoppinsFonts;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 0;
                        bottom: 0;
                        height: 3px;
                        background: $ThemesColor;
                    }
                    &:hover {
                        color: $ThemesColor;
                        // transition: width $transitionEffects;
                        &::before {
                            transition: width 0.5s ease-in-out;
                            width: 100%;
                        }
                    }
                    &.active {
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 100%;
                            bottom: 0;
                            height: 3px;
                            background: $ThemesColor;
                        }
                    }
                }
            }
        }
    }
}

.hoem_slider_sections {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 74px;
    @media (max-width: 992px) {
        height: auto;
    }
    .video_sections {
        display: block;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -68%);
        margin-top: 75px;
        .video_overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            z-index: 99;
        }
        video {
            width: 100%;
            height: 100%;
        }
    }
    .images_overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        // z-index: 99;
    }
    .carousel {
        height: 100%;
        @media (max-width: 992px) {
            height: 600px;
            padding: 140px 0 0 0;
        }
        // margin: 80px 0 0 0;
        .carousel-indicators {
            bottom: -190px;
            display: none;
        }
        .carousel-inner {
            height: 100%;
            .carousel-item {
                height: 100%;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // padding-top: 10%;
                .slider_text_content {
                    text-align: center;
                    h1 {
                        font-size: 60px;
                        color: $whiteColor;
                        line-height: 58px;
                        margin: 0 0 40px 0;
                        @media (max-width: 992px) {
                            font-size: 40px;
                        }
                        span {
                            color: $whiteColor;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }
                    p {
                        width: 100%;
                        max-width: 950px;
                        font-size: 20px;
                        color: whitesmoke;
                        margin: 0 auto;
                    }
                    button {
                        @include backgroundButtons();
                        margin-top: 35px;
                    }
                }
            }
        }
    }
}

.hoem_slider_sections.main_site_bg {
    background: url('../images/slide_01.jpg');
}

.randbg {
    background: url("../images/Homes/0.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.randbg.bg1 {
    background-image: url("../images/Homes/1.jpg");
}

.randbg.bg2 {
    background-image: url("../images/Homes/2.jpg");
}

.randbg.bg3 {
    background-image: url("../images/Homes/3.jpg");
}

.randbg.bg4 {
    background-image: url("../images/Homes/4.jpg");
}

.randbg.bg5 {
    background-image: url("../images/Homes/5.jpg");
}

.randbg.bg6 {
    background-image: url("../images/Homes/6.jpg");
}

.randbg.bg7 {
    background-image: url("../images/Homes/7.jpg");
}

.randbg.bg8 {
    background-image: url("../images/Homes/8.jpg");
}

.randbg.bg9 {
    background-image: url("../images/Homes/9.jpg");
}

.randbg.bg0 {
    background-image: url("../images/Homes/0.jpg");
}

.doing_right_sections {
    background: #f9f9f9;
    padding: 80px 0;
    .doing_right_heading {
        position: relative;
        text-align: center;
        width: 100%;
        h2 {
            @include subHeadings();
            margin: 0 auto;
        }
        p {
            font-size: 18px;
            color: $fontColor;
            width: 100%;
            max-width: 650px;
            margin: 20px auto 50px;
        }
    }
    .doing_cards {
        position: relative;
        border: 1px solid #eee;
        background: #fff;
        box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
        border-radius: 5px;
        overflow: hidden;
        padding: 30px;
        margin: 0 0 30px 0;
        transition: $transitionEffects;
        &:hover {
            transition: $transitionEffects;
            &::before {
                background: $ThemesColor;
            }
            .icons_sections {
                fill: $whiteColor;
            }
        }
        &::before {
            position: absolute;
            top: 0;
            right: 0px;
            z-index: 0;
            content: " ";
            width: 120px;
            height: 120px;
            background: #f5f5f5;
            border-bottom-left-radius: 136px;
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
        }
        .icons_sections {
            position: absolute;
            left: auto;
            right: 30px;
            top: 20px;
            svg {
                width: 50px;
            }
        }
        .cards_heading {
            position: relative;
            h4 {
                color: #333;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.5;
            }
            h5 {
                color: #333;
                font-size: 17px;
                font-weight: 400;
                line-height: 1;
                margin-top: 5px;
            }
        }
        .section_heading_line_left {
            content: "";
            display: block;
            width: 100px;
            height: 3px;
            background: $ThemesColor;
            border-radius: 25%;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        p {
            margin-top: 25px;
            padding-right: 50px;
            font-size: 14px;
            color: $fontColor;
        }
    }
    .doing_cards.active_cards {
        transition: $transitionEffects;
        &::before {
            background: $ThemesColor;
        }
        .icons_sections {
            fill: $whiteColor;
        }
    }
}

.improve_your_business {
    position: relative;
    background: url("../images/improve_business.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .improve_text {
        span {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: bold;
        }
        h2 {
            @include subHeadings();
            text-align: left;
            margin: 20px 0;
            &::before {
                left: 0;
                margin: 0;
            }
        }
        p {
            margin: 0 0 30px 0;
        }
        button {
            @include borderButtons();
        }
    }
}

.our_service_section {
    padding: 70px 0;
    background: $whiteColor;
    .service_heading {
        h2 {
            @include subHeadings();
            margin: 0 auto 40px;
        }
    }
    .services_cards {
        background: $whiteColor;
        transition: $transitionEffects;
        box-shadow: none;
        padding: 20px;
        margin: 0 0 30px 0;
        @media (max-width: 992px) {
            box-shadow: $regularShadow;
            text-align: center;
            .icon_service {
                align-items: center;
                justify-content: center;
            }
        }
        &:hover {
            transition: $transitionEffects;
            box-shadow: $regularShadow;
            border-radius: 10px;
            .icon_service {
                svg {
                    fill: $ThemesColor;
                }
                h3 {
                    color: $ThemesColor;
                }
            }
        }
        .icon_service {
            display: flex;
            flex-direction: column;
            svg {
                margin: 0 0 20px 0;
                fill: $fontColor;
                width: 60px;
            }
            h3 {
                font-size: 20px;
                color: $BlackColor;
                margin: 0 0 10px 0;
            }
            p {
                font-size: 16px;
                color: $fontColor;
            }
        }
    }
}

footer {
    text-align: center;
    padding: 20px;
    background: $ThemesColor;
    p {
        margin: 0;
        font-size: 14px;
        text-align: center;
        color: $whiteColor;
    }
}

.slider_text_content.second_screen {
    h1 {
        span {
            color: $whiteColor !important;
        }
    }
}