@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/*****************
Header styles.
*****************/
header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}
header .navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0;
  background: #ffffff;
}
header .navbar .navbar-brand {
  color: #999;
}
header .navbar .navbar-toggler {
  background: #00477f;
}
header .navbar .navbar-toggler svg {
  width: 30px;
  fill: #ffffff;
}
header .collapse ul.navbar-nav li {
  color: #ffffff;
  margin: 0 7px;
}
header .collapse ul.navbar-nav li a {
  color: #999;
  font-size: 16px;
  padding: 10px 10px !important;
  display: block;
  position: relative;
  transition: all 0.5s ease;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
header .collapse ul.navbar-nav li a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 3px;
  background: #00477f;
}
header .collapse ul.navbar-nav li a:hover {
  color: #00477f;
}
header .collapse ul.navbar-nav li a:hover::before {
  transition: width 0.5s ease-in-out;
  width: 100%;
}
header .collapse ul.navbar-nav li a.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 3px;
  background: #00477f;
}

.hoem_slider_sections {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
}
@media (max-width: 992px) {
  .hoem_slider_sections {
    height: auto;
  }
}
.hoem_slider_sections .video_sections {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -68%);
  margin-top: 75px;
}
.hoem_slider_sections .video_sections .video_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.hoem_slider_sections .video_sections video {
  width: 100%;
  height: 100%;
}
.hoem_slider_sections .images_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.hoem_slider_sections .carousel {
  height: 100%;
}
@media (max-width: 992px) {
  .hoem_slider_sections .carousel {
    height: 600px;
    padding: 140px 0 0 0;
  }
}
.hoem_slider_sections .carousel .carousel-indicators {
  bottom: -190px;
  display: none;
}
.hoem_slider_sections .carousel .carousel-inner {
  height: 100%;
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item {
  height: 100%;
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content {
  text-align: center;
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content h1 {
  font-size: 60px;
  color: #ffffff;
  line-height: 58px;
  margin: 0 0 40px 0;
}
@media (max-width: 992px) {
  .hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content h1 {
    font-size: 40px;
  }
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content h1 span {
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content p {
  width: 100%;
  max-width: 950px;
  font-size: 20px;
  color: whitesmoke;
  margin: 0 auto;
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content button {
  background: #00477f;
  border: 1.5px solid #00477f;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
  margin-top: 35px;
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content button:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: #ffffff;
  color: #00477f;
}
.hoem_slider_sections .carousel .carousel-inner .carousel-item .slider_text_content button:focus {
  box-shadow: none;
  outline: none;
  border: 1.5px solid #00477f;
}

.hoem_slider_sections.main_site_bg {
  background: url("../images/slide_01.jpg");
}

.randbg {
  background: url("../images/Homes/0.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.randbg.bg1 {
  background-image: url("../images/Homes/1.jpg");
}

.randbg.bg2 {
  background-image: url("../images/Homes/2.jpg");
}

.randbg.bg3 {
  background-image: url("../images/Homes/3.jpg");
}

.randbg.bg4 {
  background-image: url("../images/Homes/4.jpg");
}

.randbg.bg5 {
  background-image: url("../images/Homes/5.jpg");
}

.randbg.bg6 {
  background-image: url("../images/Homes/6.jpg");
}

.randbg.bg7 {
  background-image: url("../images/Homes/7.jpg");
}

.randbg.bg8 {
  background-image: url("../images/Homes/8.jpg");
}

.randbg.bg9 {
  background-image: url("../images/Homes/9.jpg");
}

.randbg.bg0 {
  background-image: url("../images/Homes/0.jpg");
}

.doing_right_sections {
  background: #f9f9f9;
  padding: 80px 0;
}
.doing_right_sections .doing_right_heading {
  position: relative;
  text-align: center;
  width: 100%;
}
.doing_right_sections .doing_right_heading h2 {
  font-size: 30px;
  color: #000000;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  position: relative;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
}
.doing_right_sections .doing_right_heading h2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 4px;
  bottom: 0;
  background: #00477f;
  border-radius: 10px;
}
.doing_right_sections .doing_right_heading p {
  font-size: 18px;
  color: #999;
  width: 100%;
  max-width: 650px;
  margin: 20px auto 50px;
}
.doing_right_sections .doing_cards {
  position: relative;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
  margin: 0 0 30px 0;
  transition: all 0.5s ease;
}
.doing_right_sections .doing_cards:hover {
  transition: all 0.5s ease;
}
.doing_right_sections .doing_cards:hover::before {
  background: #00477f;
}
.doing_right_sections .doing_cards:hover .icons_sections {
  fill: #ffffff;
}
.doing_right_sections .doing_cards::before {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 0;
  content: " ";
  width: 120px;
  height: 120px;
  background: #f5f5f5;
  border-bottom-left-radius: 136px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.doing_right_sections .doing_cards .icons_sections {
  position: absolute;
  left: auto;
  right: 30px;
  top: 20px;
}
.doing_right_sections .doing_cards .icons_sections svg {
  width: 50px;
}
.doing_right_sections .doing_cards .cards_heading {
  position: relative;
}
.doing_right_sections .doing_cards .cards_heading h4 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.doing_right_sections .doing_cards .cards_heading h5 {
  color: #333;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
}
.doing_right_sections .doing_cards .section_heading_line_left {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: #00477f;
  border-radius: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
}
.doing_right_sections .doing_cards p {
  margin-top: 25px;
  padding-right: 50px;
  font-size: 14px;
  color: #999;
}
.doing_right_sections .doing_cards.active_cards {
  transition: all 0.5s ease;
}
.doing_right_sections .doing_cards.active_cards::before {
  background: #00477f;
}
.doing_right_sections .doing_cards.active_cards .icons_sections {
  fill: #ffffff;
}

.improve_your_business {
  position: relative;
  background: url("../images/improve_business.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.improve_your_business .improve_text span {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}
.improve_your_business .improve_text h2 {
  font-size: 30px;
  color: #000000;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  position: relative;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  text-align: left;
  margin: 20px 0;
}
.improve_your_business .improve_text h2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 4px;
  bottom: 0;
  background: #00477f;
  border-radius: 10px;
}
.improve_your_business .improve_text h2::before {
  left: 0;
  margin: 0;
}
.improve_your_business .improve_text p {
  margin: 0 0 30px 0;
}
.improve_your_business .improve_text button {
  background: none;
  border: 1.5px solid #00477f;
  border-radius: 5px;
  color: #00477f;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
}
.improve_your_business .improve_text button:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: #00477f;
  color: #ffffff;
}
.improve_your_business .improve_text button:focus {
  box-shadow: none;
  outline: none;
  border: 1.5px solid #00477f;
}

.our_service_section {
  padding: 70px 0;
  background: #ffffff;
}
.our_service_section .service_heading h2 {
  font-size: 30px;
  color: #000000;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  position: relative;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto 40px;
}
.our_service_section .service_heading h2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 4px;
  bottom: 0;
  background: #00477f;
  border-radius: 10px;
}
.our_service_section .services_cards {
  background: #ffffff;
  transition: all 0.5s ease;
  box-shadow: none;
  padding: 20px;
  margin: 0 0 30px 0;
}
@media (max-width: 992px) {
  .our_service_section .services_cards {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  .our_service_section .services_cards .icon_service {
    align-items: center;
    justify-content: center;
  }
}
.our_service_section .services_cards:hover {
  transition: all 0.5s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.our_service_section .services_cards:hover .icon_service svg {
  fill: #00477f;
}
.our_service_section .services_cards:hover .icon_service h3 {
  color: #00477f;
}
.our_service_section .services_cards .icon_service {
  display: flex;
  flex-direction: column;
}
.our_service_section .services_cards .icon_service svg {
  margin: 0 0 20px 0;
  fill: #999;
  width: 60px;
}
.our_service_section .services_cards .icon_service h3 {
  font-size: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.our_service_section .services_cards .icon_service p {
  font-size: 16px;
  color: #999;
}

footer {
  text-align: center;
  padding: 20px;
  background: #00477f;
}
footer p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.slider_text_content.second_screen h1 span {
  color: #ffffff !important;
}

/*# sourceMappingURL=style.css.map */
